ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //background-color: green;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}
.footer{
    position: fixed;
    bottom: 300;
    
}
body {
    background-image: url("myphoto.jpg");
    background-image: no-repeat;
    
}
.anusha1{
    width: auto;
    height: auto;

}
.contact{
    color:none;
}
